.grid-layout {
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: auto 2rem 1fr;
}

.grid-layout__header {
    grid-area: 1 / 1 / 3 / 4;
}

.grid-layout__calculator {
    grid-area: 2 / 2 / 4 / 3;
}
