# In this file we determine which files we don't want to upload to Github.
# These files can either contain sensitive information that should not be made public
# or files that are part of a package manager, like node_modules.
node_modules