h1 {
font-family: 'Bentham', serif;
font-weight: 400;
font-size: 42px;
text-transform: uppercase;
}

fieldset {
margin: 20px 0px;
}

legend {
font-family: 'Bentham', serif;
font-weight:600;
font-size:24px;
}

.field-row {
    display:flex;
    flex-direction: row;
    gap:10px;
}

.field-group {
    display:flex;
    flex-direction:column;
}

.field-group label {
    margin:10px 0px 10px;
}

.field-group select {
    margin:10px 0px 10px;
}

.hidden {
    display: none;
}

button {
    margin: 10px 0px;
}