.field-row,
.field-group-row {
    @apply flex flex-row flex-wrap gap-3;
}

.field-group {
    @apply flex flex-col mb-3;
    flex: 1 1 calc(50% - 0.75rem);
}

.field-label {
    @apply mt-3 mb-2 font-serif text-xl;
}

.field-group select {
}

.field-input {
    @apply flex bg-white rounded border w-full font-serif overflow-hidden;
}

.field-input :is(input, select) {
    @apply p-3;
    appearance: none;
}

.field-input input {
    @apply flex-1;
}

.field-input input[type='number'] {
    -moz-appearance: textfield;
}

.field-input input[type='number']::-webkit-inner-spin-button,
.field-input input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.field-input select {
    @apply pr-6 bg-gunPowder text-manhattan;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSI1IiBjeT0iNSIgcj0iNSIgZmlsbD0iI0YyQ0M4RiIvPgo8L3N2Zz4=');
    background-repeat: no-repeat;
    background-size: 6px;
    background-position: right 0.75rem center;
}

:is(.field-input--price, .field-input--percent)::after {
    @apply bg-gunPowder text-manhattan font-bold p-3;
}

.field-input--price::after {
    content: '€';
}

.field-input--percent::after {
    content: '%';
}
